<ion-header>

  <ion-navbar>
    <ion-title>Escolha</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-slides pager="true">
    <ion-slide *ngFor="let foto of item.fotos">
      <img src="{{ foto }}"/>
    </ion-slide>
  </ion-slides>

  <ion-item-group>
    <ion-item-divider color="light">
      <ion-icon name="car"></ion-icon>
      ITEM
    </ion-item-divider>
    <ion-item>{{ item.nome }}</ion-item>
    <ion-item>R$ {{ item.preco }}</ion-item>
  </ion-item-group>
  
  <ion-item-group>
    <ion-item-divider color="light">
      <ion-icon name="options"></ion-icon>
      SUBITENS
    </ion-item-divider>
    <ion-item *ngFor="let subitem of subitens">
      <ion-label>
        <h2>{{ subitem.nome }}</h2>
        <h4>R$ {{ subitem.preco }}</h4>
      </ion-label>
      <ion-toggle 
        #toggle 
        color="secondary" 
        (ionChange)="atualizaTotal(toggle.checked, subitem)">
      </ion-toggle>
    </ion-item>
  </ion-item-group>
  
  <ion-item-divider color="light">
    <span item-right>TOTAL: R$ {{ precoTotal }}</span>
  </ion-item-divider>

  <ion-fab top right edge (click)="avancar()">
    <button ion-fab>
      <ion-icon name="arrow-dropright"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
